{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript" src="javascript/d3/d3-simple-slider.min.js"></script>
    <script type="text/javascript" src="javascript/d3Visualizations//barchart.js"></script>
    <script type="text/javascript" src="javascript/d3Visualizations//dropdown.js"></script>
    <script type="text/javascript" src="javascript/initFeatureRanking.js"></script>
    <script type="text/javascript" src="javascript/d3Visualizations//slider.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row centered">
            <div class="col-sm-4"> <h2>Feature Ranking</h2> </div>
            <div class="col-sm-4" id="class_label_dropdown"> Class Label -- > </div>
            <div class="col-sm-4" id="score_function_dropdown"> Score Function -- > </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3">
                <button id="prev" type="button" class="btn btn-secondary">
                    <---
                </button>
            </div>
            <div class="col-sm-3">
                <button id="displayall" type="button" class="btn btn-secondary">
                    Display all
                </button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary">
                    Help
                </button>
            </div>
            <div class="col-sm-3">
                <button id="next" type="button" class="btn btn-secondary">
                    --->
                </button>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content-svgs container-fluid"></div>
    <script> init({{data | safe}}) </script>
{% endblock %}